.header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 42px;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 4%;
    .logo {
      display: flex;
      align-items: center;
      padding-top: 15px;
      width: 300px;
      img {
        width: 100%;
      }
    }
    .right{
      padding-right: 4%;
      .btn{
        background-color: #4f59ca;
        color:#f6faf9;
        box-shadow: 2px 2px 2px 2px rgba(33,33,33,.2), 
                            2px 2px 2px 2px rgba(33,33,33,.2); ;
        &:hover {
          background: #f6faf9;
          color: #4f59ca;
          transition: box-shadow .3s;
          box-shadow: 2px 2px 2px 2px rgba(33,33,33,.2), 
                      2px 6px 6px 2px rgba(33,33,33,.2); ;
        }
      }

    }
  }